<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= @title %></title>
  <script type="text/javascript" src="https://raw.github.com/madrobby/zepto/master/src/zepto.js"></script>
  <script type="text/javascript" src="zepto.pjax.js"></script>
</head>
<body>
  <div id="main">
    <%= yield %>
  </div>
</body>
</html>
